# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=https://ais-dev-jbfxioz6xxtwpmmnwcqx3n-99437518295.us-east5.run.app

# Remotion + AWS Lambda
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
REMOTION_AWS_FUNCTION_NAME=
REMOTION_AWS_SERVE_URL=
